@use '../../../../../styles/utils/variables/font';
@use '../../../../../styles/utils/variables/spacing';

.content {
  &__title {
    font-size: font.$font-sm;
    margin-bottom: spacing.$spacing-md;
    word-wrap: break-word;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing.$spacing-md;
}

.email-input {
  grid-column: 1 / span 2;
}
