<div class="content">
  <p class="content__title">{{ modalData.title }}</p>
  <form [formGroup]="form" class="form">
    <div class="form__input">
      <app-input placeholder="Nome" formControlName="name"></app-input>
    </div>
    <div class="form__input">
      <app-input placeholder="Sobrenome" formControlName="surname"></app-input>
    </div>
    <div class="form__input email-input">
      <app-input placeholder="Email" formControlName="email"></app-input>
    </div>
  </form>
</div>
<app-action-modal-footer
  #footer
  *appModalFooter
  (onConfirm)="handleConfirm()"
></app-action-modal-footer>
