@use '../../../styles/utils/variables';
@use '../../../styles/utils/mixins/border';

$button-color-primary-bg: variables.$color-primary;

.input {
  width: 100%;
  font-size: variables.$font-sm;
  padding: variables.$spacing-xss;
  border-radius: variables.$radius-md;
  height: 28px;
  @include border.neutral;
  &:hover,
  &:focus {
    @include border.primary;
  }
  &::placeholder {
    opacity: 0.6;
  }
  &:focus-visible {
    outline: 0;
  }
}
