.modal {
  width: 520px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: inset;
  z-index: 1000;
  &__header {
    padding: 16px 24px;
  }
  &__content {
    padding: 24px;
  }
  &__footer {
    padding: 10px 16px;
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
