<div class="modal">
  <div class="modal__header">
    <div class="modal__title">
      {{ title }}
    </div>
    <div (click)="handleClose()" class="modal__icon">
      <img
        class="icon"
        src="../../../assets/images/icons/close.svg"
        alt="Close icon"
      />
    </div>
  </div>
  <div class="modal__content">
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
  </div>
  <div class="modal__footer">
    <div class="modal__actions">
      <button class="btn" (click)="handleClose()">Cancelar</button>
      <button class="btn btn-primary" (click)="onConfirm.emit()">
        Confirmar
      </button>
    </div>
  </div>
</div>
