.modal {
  width: 520px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: inset;
  z-index: 1000;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
  }
  &__icon {
    cursor: pointer;
  }
  &__content {
    font-size: 14px;
    padding: 24px;
  }
  &__footer {
    padding: 10px 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  }
}
