.content {
  text-align: center;
  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 14px;
  }
  &__title,
  &__subtitle {
    width: 100%;
    text-align: center;
  }
}
