@use '../../../../../styles/utils/variables/font';
@use '../../../../../styles/utils/variables/spacing';

.content {
  text-align: center;
  &__title {
    font-size: font.$font-md;
    font-weight: font.$font-weight-bold;
    margin-bottom: spacing.$spacing-xs;
  }
  &__subtitle {
    font-size: font.$font-sm;
  }
  &__title,
  &__subtitle {
    width: 100%;
    text-align: center;
  }
}
