<div class="modal" (click)="handleClick($event)">
  <div class="modal__header">
    <div class="modal__title">
      {{ title }}
    </div>
    <div (click)="handleClose()" class="modal__icon">
      <img
        class="icon"
        src="../../../assets/images/icons/close.svg"
        alt="Close icon"
      />
    </div>
  </div>
  <div class="modal__content">
    <ng-template #contentWrapper [appDynamicWrapper]></ng-template>
  </div>
  <div *ngIf="footerTemplate" class="modal__footer">
    <ng-template #footerWrapper [appDynamicWrapper]></ng-template>
  </div>
</div>
