@use '../../../styles/utils/variables';

$divider-border: 1px solid rgba(0, 0, 0, 0.06);

.modal {
  width: 520px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: variables.$radius-lg;
  box-shadow: inset;
  z-index: 1000;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: variables.$spacing-md variables.$spacing-lg;
    border-bottom: $divider-border;
  }
  &__title {
    font-size: variables.$font-md;
    font-weight: variables.$font-weight-bold;
  }
  &__icon {
    cursor: pointer;
  }
  &__content {
    font-size: variables.$font-sm;
    padding: variables.$spacing-lg;
  }
  &__footer {
    padding: variables.$spacing-sm variables.$spacing-md;
    border-top: $divider-border;
  }
}
