@import './styles/utils/reset.scss';
@import './styles/button.scss';
@import './styles/icon.scss';
@import './styles/modal.scss';

body {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px;
}
